@media (max-width:500px){
    body {
        overflow-x: hidden;
    }

    /*COMEÇO*/
    section.marcas {
        width: 100vw;      
                              
    }
    section.marcas img {
        width: 80px; 
    }
    /*FIM*/

    /*COMEÇO*/
    section.promocao {
        display: flex;
        flex-flow: column-reverse nowrap;
        background-color: #F9DF56;
    }
    section > div.partI { /*IMAGEM*/
        height: 238px;
        width: 100vw;
    }
    section > div.partII {
        height: 420px;
        width: 100vw;
        margin-bottom: 20px;
    }
    section > div.partII p {
        margin-left: 25px;
    }
    section > div.partII .p-II {
       font-size: 17px;
    }
    section > div.partII .p-comprar {/*BOTÃO COMPRAR*/
        margin-left: 25px;
    }
    section > div.partI img {
        height: 450px;
        margin-left: 20px;
    }
    /*COMEÇO*/

     /*COMEÇO*/
    section.young {
        width: 100vw;
        gap: 10px;
    }
    .young img {
        height: 250px;
        width: 400px;
        padding-left: 20px;
    }
    .y-titulo {
        padding-left: 20px;
    }
    .y-descricao {
        padding-left: 20px;
    }
    .y-texto {
        padding-left: 20px;
    }
    /*FIM*/
}