@media screen and (max-width:500px) {
    body {
        overflow-x: hidden;
    }
    div.main {
        width: 1010px;
    }
    /*COMEÇO*/
    section.marcas {
        width: 100vw;                             
    }
    section.marcas img {
        width: 120px; 
    }
    /*FIM*/

    /*COMEÇO*/
    section.young {
        width: 100vw;
    }
    .young img {
        height: 250px;
        width: 450px;
        padding-right: 6px;
    }
    /*FIM*/

    /*COMEÇO*/
    section.promocao {
        display: flex;
        flex-flow: column-reverse wrap;
    }
    section > div.partI { /*IMAGEM*/
        height: 238px;
        width: 100vw;
    }
    section > div.partII {
        height: 420px;
        width: 100vw;
        margin-bottom: 20px;
    }    
    section > div.partI {
        height: 448px;
        width: 100vw;
        padding-top: 20px;
    }
    section > div.partII {
        height: 420px;
        width: 100vw;
    }
    section > div.partII p {
        margin-left: 25px;
    }
    section > div.partII .p-II {
       font-size: 17px;
    }
    section > div.partII .p-comprar {/*BOTÃO COMPRAR*/
        margin-left: 25px;
    }
    section > div.partI img {
        height: 450px;
        margin-left: 20px;
        padding-bottom: 10px;
    }
    /*COMEÇO*/

     /*COMEÇO*/
    section.young {
        width: 100vw;
        gap: 10px;
    }
    .young img {
        height: 250px;
        width: 400px;
        padding-left: 20px;
    }
    .y-titulo {
        padding-left: 20px;
    }
    .y-descricao {
        padding-left: 20px;
    }
    .y-texto {
        padding-left: 20px;
    }
    /*FIM*/
}