/*
@media (min-width:500px){
    body {
        overflow-x: hidden;
    }

    

    section.marcas {
        width: 490px;      
                              
    }
    section.marcas img {
        width: 80px; 
    }
    

    
    section.young {
        
    }
    .young img {
        height: 250px;
        width: 450px;
        padding-right: 6px;
    }
   


    section.promocao {
        display: flex;
        flex-flow: column-reverse nowrap;
        background-color: #F9DF56;
    }
    section > div.partI {
        height: 238px;
        width: 490px;
    }
    section > div.partII {
        height: 420px;
        width: 490px;
        margin-bottom: 20px;
    }
    section > div.partII p {
        margin-left: 25px;
    }
    section > div.partII .p-II {
       font-size: 17px;
    }
    section > div.partII .p-comprar {
        margin-left: 25px;
    }
    section > div.partI img {
        height: 450px;
        margin-left: 20px;
    }
} */